.x-jXLSr9-UpgradePlanModal-plans > * {
  color: white;
}

.x-jXLSr9-UpgradePlanModal-plans > button > h3 {
  color: white;
}

.x-jXLSr9-UpgradePlanModal-plans > button {
  width: 10rem;
  margin: 5px;
  border: 0px;
  cursor: pointer;
  color: white;
}

.x-jXLSr9-UpgradePlanModal-plans > button:hover {
  background-color: #898989 !important;
}

.x-jXLSr9-UpgradePlanModal-selected {
    border: $button-confirmation-backgroundColor 4px solid !important;
}
